
@media screen and (max-width: 1025px){
    /* header starts here  */
    body{
        width: 100%;
    }
    
    .nav-desktop{
        display: none;
    }
       .header{
        display: flex;
        padding-top: 50px ;
        align-items: center;
        justify-content: center;
    }
    .space{
        display: none;
    }
    .header .text{
        /* text-align: center?; */
        width: 100%;
        padding: 40px 70px;
        color: white;
    }
    .header .text h2{
        margin-bottom: 20px;
        font-size: 22px;
    }
    .header .text p{
        font-size: 15px ;
        font-weight: bold;
    }
    .header .text button{
        border: 0;
        border-radius: 25px;
        margin-top: 30px;
        height: 50px;
        width: 230px;
        background:#FF6347 ;
    }
    button span{
        font-size: 20px;
        margin-left: 20px;
    }
    .learn{
        color: white;
        font-size: 18px;
        font-weight: bolder;
    }
    /* header ends here  */

    /* getstarted section starts here  */
    .getstarted .text{
        display: flex;
        align-items: center;
        /* height: 85px; */
        color: white;
        padding-left: 30px;
        font-size: 15px;
    }
    
    .btn{
        border: 0;
        border-radius: 15px;
        height: 38px;
        width: 115px;
        background: white;
        margin-right: 35px;
    }
    .btn:hover{
        background: transparent;
        border: 2px solid white;
        color: white;
    }
    .btn a{
        text-align: center;
        text-decoration: none;
        color:  #FF6347;
        font-size: 12px;
        font-weight: bolder;
    }
    .btn a:hover{
        color: white;
    }
    /* get started ends here  */
    
    /* footer section starts here  */
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .text{
        display: flex;
        align-items: center;
        /* justify-self: center; */
        font-size: 25px;
        /* padding-right: 30px; */
        font-weight: 700;
        text-align: center;
    }
    .footer-icon_hoolder{
        display: flex;
        align-items: center;
        padding-right: 30px;
        margin: 0  4px;
        padding-bottom: 15px;
    }
    /* footer section starts here  */
}    
    
